@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-size: 100%;
    font-weight: 400;
    line-height: 1.5rem;
    color: theme(colors.black);
    text-transform: none;
    text-size-adjust: 100%;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-synthesis: none;

    background-color: theme(colors.white);
  }

  body {
    font-family: var(--font-satoshi);
  }

  label {
    cursor: pointer;
  }

  *:focus {
    outline-color: #000;
  }
}

@layer components {
  .stn_title {
    font-family: var(--font-intergralCF-bold);
    font-size: 2rem;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    color: #000;
  }

  .shell {
    @apply flex w-full items-center justify-center px-4;

    border-radius: 62px;
  }

  .btn {
    @apply shell;
    min-height: 40px;
    background: theme(colors.black);
    color: theme(colors.white);
  }

  .btn_lght {
    @apply shell;
    min-height: 40px;
    background-color: theme(colors.white);
    color: theme(colors.black);
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  .icon_base {
    @apply flex items-center justify-center rounded-full;
    min-height: 1.75rem;
    min-width: 1.75rem;
  }

  .icon {
    @apply icon_base bg-black;
  }

  .icon_lght {
    @apply icon_base border border-solid border-black/60 bg-white;
  }

  .discount {
    @apply flex h-5 items-center justify-center bg-redOrange/10 text-[0.625rem] font-medium text-redOrange;

    width: 42px;
    border-radius: 62px;
  }

  .discount_price {
    @apply text-black/40;

    text-decoration: line-through;
    text-decoration-line: strikethrough;
  }

  .container_products {
    @apply flex gap-4 overflow-x-scroll px-4 mt:px-16 md:px-20;

    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    overflow: -moz-scrollbars-none;

    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
  }

  .badge {
    @apply flex h-[26px] w-10 items-center justify-center rounded-[4.6px] border border-solid border-geyser bg-white;
    filter: drop-shadow(0px 0.384px 3.842px rgba(183, 183, 183, 0.08))
      drop-shadow(0px 3.842px 7.684px rgba(183, 183, 183, 0.08));
  }

  .field {
    @apply shell min-h-[2.5rem];
  }
}

@layer utilities {
  .list-advantages {
    @apply grid grid-cols-2 justify-center;
    column-gap: 27.5px;
    row-gap: 14px;
    grid-template-columns: repeat(2, auto);

    & > li {
      @apply flex;
      gap: 27.5px;
    }

    & > li > div > div {
      @apply text-2xl font-bold text-black;
      line-height: normal;
    }

    & > li > div > span {
      @apply block text-xs text-black/60;
      line-height: 22px;
    }

    & > li:first-child::after {
      content: '';

      height: 100%;
      width: 1px;
      background: rgba(0, 0, 0, 0.1);
    }

    & > li:last-child {
      grid-column-start: 1;
      grid-column-end: 3;

      div {
        @apply mx-auto;
      }
    }
  }

  .list-brands {
    @apply container grid py-10;
    grid-template-columns: repeat(9, 1fr);
    row-gap: 22px;

    & > li {
      display: flex;
      justify-content: center;
    }

    & > li:nth-child(n) {
      grid-column: span 3;
    }

    & > li:nth-last-child(2) {
      grid-column: 1 / span 4;
      grid-row-start: 2;
      justify-content: end;
    }

    & > li:last-child {
      grid-column: 6 / span 4;
      grid-row-start: 2;
      justify-content: start;
    }
  }

  .image-hero {
    animation: imageHero 2s ease-in-out;
  }

  .star {
    opacity: 0;
    animation: imageHero 1s ease-in-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }
}

@keyframes imageHero {
  0% {
    opacity: 0;
    transform: translateX(-15px) translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
}
